.deconnexion{
    cursor: pointer;
    color: rgba(0,0,0,.5);
   &:hover{
        text-decoration: none;
   }
}

.sous-menu{
     position: relative;
     &>ul{
          display: none;
     }
     &::after{
          content:"";
          border:6px solid black;
          border-left:6px solid transparent;
          border-right:6px solid transparent;
          border-bottom:6px solid transparent;
          display: inline-block;
     }
     &:hover>ul{
          display: block;
          position: absolute;
          background: #f8f9fa !important;
          width: 300px;
     }
}