<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active sous-menu">
                <a class="nav-link" class="deconnexion btn btn-link ">Reactive Form
                    <span class="sr-only">(current)</span>
                </a>
                <ul>
                    <li>
                        <a class="nav-link" routerLink="/reactif">Reactive Form
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/reactive-form-suite">Reactive Form suite
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" *ngIf="!auth.isLogged()">
                <a class="nav-link" routerLink="/connexion">Se connecter
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item"  *ngIf="auth.isLogged()">
                <a class="nav-link" routerLink="/admin">DashBoard
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="auth.isLogged()">
                <a class="nav-link" (click)="onClickDeconnexion()" class="deconnexion btn btn-link">Déconnexion
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <app-search-form></app-search-form>
    </div>
</nav>
