<div class="row mt-5">
    <h1 class="col-12">Reactive Form</h1>
    <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="nom">nom</label>
                <input type="text" id="nom" name="nom" class="form-control" formControlName="nom">
                <div class="alert alert-warning" *ngIf="form.get('nom').touched && form.get('nom').invalid">
                    <ul class="mb-0">
                        <li *ngIf="form.get('nom').errors.required" >
                            veuillez compléter ce champ !
                        </li>
                        <li *ngIf="form.get('nom').errors.pasDEspace">
                                {{ form.get('nom').errors.message }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input type="text" id="email" name="email" class="form-control" formControlName="email">
                <p *ngIf="email.pending">nous vérifions que votre email est unique ...</p>
                <div class="alert alert-warning" *ngIf="email.touched && email.invalid">
                    <ul class="mb-0">
                        <li *ngIf="email.errors.required">le champ email est obligatoire</li>
                        <li *ngIf="email.errors.email">le texte saisi n'est pas une email valide</li>
                        <li *ngIf="email.errors.uniqueEmail">{{ email.errors.message }}</li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="adresse">adresse</label>
                <input type="text" id="adresse" name="adresse" class="form-control" formControlName="adresse">
                <div class="alert alert-warning" *ngIf="adresse.touched && adresse.invalid">
                    <p class="mb-0" *ngIf="adresse.errors.isValidAdresse">
                        {{ adresse.errors.message }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="commentaire">commentaire</label>
                <textarea name="commentaire" id="commentaire" rows="5" class="form-control" formControlName="commentaire"></textarea>
            </div>
            <!--   <div class="form-group">
                <label for="test">test</label>
                <input type="text" id="test" name="test" class="form-control" [(ngModel)]="test">
            </div> -->
            <div class="form-group">
                <input type="submit" class="btn btn-outline-success">
            </div>
            <div class="alert alert-danger" *ngIf="form.errors">
                {{ form.errors.message }}
            </div>
        </form>
    </div>
</div>
