<div class="onglet">
    <button data-index="0" (click)="onClickOnglet($event)">action 1</button>
    <button data-index="1" (click)="onClickOnglet($event)">action 2</button>
    <button data-index="2" (click)="onClickOnglet($event)">action 3</button>
    <div [class.hide]="listeOnglet[0]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores velit quibusdam quae quisquam in ea, iusto sed non expedita laborum.</div>
    <div [class.hide]="listeOnglet[1]">Natus amet maiores modi cum ea, deserunt quas molestias explicabo perspiciatis dolorum voluptatum doloribus impedit labore nisi quaerat iure quae.</div>
    <div [class.hide]="listeOnglet[2]">Doloremque sit soluta autem suscipit quis ratione impedit magnam aperiam, neque est a quas fuga quasi consequatur iure, incidunt magni?</div>
</div>
